.app{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  margin-top: 20%;
  
}

.task-holder{
  width: 95%;
  max-height: 400px;
  overflow-y: scroll;
}

.add-task{
  margin-top: 30px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  
}

.task{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 0px;
  /* background: green; */
}


.tooltip{
  margin-left: 15px !important;
}

.task-field{
  width: 56%;
}

.footer{
  background: black;
  position: fixed;
  left: 0;
  top: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.footer a{
  color: white;
  margin: 0px 35px;
}

